<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>eSociety</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Welcome </h1>
<br>
<h1> In year_rep page..</h1>

<!--<%&#45;&#45;${year}&#45;&#45;%>-->
<h2>Year wise payment history</h2>


    <table style="width:50%;border: 1px solid black;text-align: center;">
        <tr>
            <th>User_name</th>
            <th>Amount</th>
            <th>Transaction date</th>
        </tr>
        <th:block th:each="var : ${year}">
            <tr>
                <td th:text="${var.username}">...</td>
                <td th:text="${var.amount}">...</td>
                <td th:text="${var.paid_at}">...</td>
            </tr>
        </th:block>
    </table>


</body>
</html>