<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lemonada">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #393e46" class="home">
<div align="center">
    <h1 style="color:#222831; font-family: Ubuntu; color: white; font-size: 80px; margin-top:12%;margin-bottom: 3%;">WELCOME <span sec:authentication="name">Username</span></h1>
    <div sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">

        <table  style="width:100% ;margin-left: auto;margin-right: auto;">
            <tr><th><a href="/addmonthlyactivity">Add monthly Activity</a></th></tr>
            <tr> <th><a href="/addyearlyactivity">Add yearly Activity</a> </th> </tr>
            <tr> <th><a href="/reports">Reports</a> </th> </tr>
        </table>
    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <table style="width:100%">
            <tr><th><a href="/addsociety">Add Society</a></th></tr>
            <tr> <th><a href="/addmanagernew">Add Manager</a> </th> </tr>
        </table>
    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN','MANAGER','USER')">
        <table style="width:100%">
            <tr><th><a href="/payments">Payments</a></th></tr>
            <tr> <th>
                <form action="/logout">
                    <button type="submit">logout</button>
                </form>
            </th> </tr>
        </table>
    </div>
    <a href="/payments"></a>

</div>
</body>

<!--<body>-->
<!--<h1>Welcome </h1>-->
<!--<br>-->

<!--<a href="/paymenthistory">Payment History</a>-->
<!--<a href="/reports">Reports</a>-->
<!--<a href="/all">Users</a>-->
<!--<%--hey!its working.. yo your are --- > --%>-->
<!--<%--<form action="home" ></form>--%>-->

<!--</body>-->
</html>