<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>eSociety</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form action="#" th:action="@{/paydue}" th:object="${payments}" method="post" class="form-signin" role="form">

    <h2>Your due is <p th:text= "${totalAmount}" ></p></h2>
    <input type="number" th:field="*{amount}" placeholder="Amount" />
    <input type="number" th:field="*{manager_id}" placeholder="Manager_id" />
    <input type="number" th:field="*{society_id}" placeholder="Society_id" />
    <input type="number" th:field="*{user_id}" placeholder="user_id" />
    <button type="submit">Pay now</button>

</form>

</body>
</html>