<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Yearly Activities</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form autocomplete="off" action="#" th:action="@{/addyearlyactivity}" th:object="${yActivities}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading">Add activity (Yearly)</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{activity_name}" placeholder="Activity name" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="number" step=".01" th:field="*{amount}" placeholder="Amount" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="date" th:field="*{activity_year}" placeholder="activity year" class="form-control" required />
                </div>
            </div>



            <!--                <input type="hidden" th:field="*{manager_id}" name="manager_id" value="1">-->

            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Add Yearly activity</button>
                </div>
            </div>

            <!--                <span th:utext="${successMessage}"></span>-->
            <!--                <div class="alert alert-success alert-dismissible col-sm-12"-->
            <!--                     th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">-->
            <!--                    <button type="button" class="close" data-dismiss="alert"-->
            <!--                            aria-hidden="true">×</button>-->
            <!--                    <ul th:each="data : ${bindingResult.getAllErrors()}">-->
            <!--                        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
        </form>
        <!--            <div class="form-group">-->
        <!--                <div class="">-->
        <!--                    <button class="btn btn-warning btn-block"><a href="/login">Login</a></button>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>
</div>

</body>
</html>